<div class="content" role="main">
  <app-regions
    [name]="'region'"
    [items]="regions$ | async | regionName"
    (selectItem)="onRegionSelect($event.target)"
  ></app-regions>

  <app-regions
    [name]="'country'"
    [items]="countriesForRegion | countryName"
    (selectItem)="onCountrySelect($event.target)"
  ></app-regions>

  <app-country-details></app-country-details>

  <!-- Footer -->
  <footer>
    <a href="https://github.com/IViol/afc-test" target="_blank" rel="noopener noreferrer">by Ivan V</a>
  </footer>

</div>

<router-outlet></router-outlet>
